@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: 0, 0, 0;
  --background-hex: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #eeeeec;
    --background-hex: #111110;
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-underline-offset: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
